
<form class="bloc-form" [formGroup]="plantForm" (ngSubmit)="onSubmit()">
  <h2>Ajouter une Plante</h2>
  <label for="name">Nom</label>
  <input type="text" formControlName="name" placeholder="Dionée attrape-mouche"/>

  <label for="imageUrl">Image</label>
  <input type="text" formControlName="imageUrl" placeholder="http://www.google.com/dionée.jpg" />

  <label for="type">Type</label>
  <select name="check" formControlName="type">
    <option value="Intérieur">Intérieur</option>
    <option value="Extérieur">Exterieur</option>
  </select>

  <label for="purchase">Date d'achat</label>
  <input type="date" formControlName="purchase" />

  <fieldset>
    <legend>Exposition</legend>
    <div class="radio">
      <input type="radio" formControlName="exposition" value="ombre" checked />
      <label for="ombre">Ombre</label>
    </div>
    <div class="radio">
      <input type="radio" formControlName="exposition" value="mi-ombre" />
      <label for="mi-ombre">Mi-ombre</label>
    </div>
    <div class="radio">
      <input type="radio" formControlName="exposition" value="soleil" />
      <label for="soleil">soleil</label>
    </div>
  </fieldset>

  <!-- <label for="exposition">Exposition</label>
  <input type="radio" formControlName="exposition" /> -->

  <label for="watering">Fréquence d'arrosage</label>
  <input type="text" formControlName="watering" placeholder="1 fois par semaine"/>

  <label for="price">Prix</label>
  <input type="number" formControlName="price"/>

  <button type="submit">Créer</button>
</form>
